* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: black;
  color: saddlebrown;
}

h1 {
  font-size: 5rem;
  font-family: 'Nabla', cursive;
  color: darkgreen;
  line-height: .8;
  margin: 3rem 0 1rem;
  grid-column: 2/6;
}

main {
  min-width: 850px;
  max-width: 1024px;
  margin: 3rem auto;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 400px 20%;
}

p {
  background-color: rgb(255, 132, 0);
  border: 30px solid black;
  padding: .5rem 1rem;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
  color: white;
}

footer {
  padding-left: 6rem;
}



#siteLogo {
  padding-left: 20px;
  width: 120px;
  z-index: 2;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
}



section {

  /* section is both a Grid Item and a Flex Box container */
  background-color: rgba(211, 187, 176, 0.3);
  padding: 2rem;
  grid-row: 2/4;
  grid-column: 3/6;
  display: flex;
  justify-content: space-between;
}

section img {
  width: 30%;
  flex: 1 1 30%;
  max-height: 400px;
  border: 5px solid transparent;
  grid-column-start: 2;
  grid-column-end: 3;

}

section img:hover {
  border: 5px solid red;
  cursor: pointer;
}

#chart {
  margin: 1rem;
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 6;
  line-height: 8px;
  
}

/* -- button -- */
section+div {
  background-color: rgba(128, 128, 128, 0.734);
  color: lightgrey;
  padding: .5rem 1rem;
  width: max-content;
  height: max-content;
  font-size: .8rem;
  margin: 1rem;
  pointer-events: none;
  border: 5px solid black;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
}

section+div.clicks-allowed {
  background-color: rgb(222, 105, 22);
  color: white;
  cursor: pointer;
  pointer-events: auto;
}


section+div.clicks-allowed:hover {
  background-color: rgb(211, 187, 175);
}